# MozaPlay — Supabase
SUPABASE_PROJECT_ID=xtlfrhtkuhjyudryjkyq
SUPABASE_URL=https://xtlfrhtkuhjyudryjkyq.supabase.co
SUPABASE_PUBLISHABLE_KEY=COLOCA_A_TUA_CHAVE_PUBLISHABLE_AQUI

VITE_SUPABASE_PROJECT_ID=xtlfrhtkuhjyudryjkyq
VITE_SUPABASE_URL=https://xtlfrhtkuhjyudryjkyq.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=COLOCA_A_TUA_CHAVE_PUBLISHABLE_AQUI
